.sde-container {
  width: 400px;
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;

  .sde-content {
    width: 100%;
    background-color: white;
    overflow: hidden;
  }
  
  .sde-left {
    width: 0px;
    transition: width .15s ease-out;
    background-color: green;
  }

  .sde-right {
    width: 0px;
    transition: width .15s ease-out;
    background-color: red;
  }
}